* {
  box-sizing: border-box;
}
body {
  background-color: #123;
}
.serail {
  font-size: 25px;
  padding: 10px;
  text-align: center;
  background-color: white;
  min-width: 250px;
  width: fit-content;
<<<<<<< HEAD
  overflow: scroll;
  max-width: 600px;
  min-height: 55px;
  height: fit-content;
  max-height: 600px;
=======
  min-height: 55px;
  height: fit-content;
>>>>>>> 2535b48204c34e644773d4ce106413f68ae3f087
  margin: 10px auto;
  border-radius: 6px;
}
#Password-Length {
  display: block;
  width: 185px;
  text-align: center;
  margin: 10px auto;
  border: none;
  border-radius: 3px;
  outline: none;
}
.choose {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}
.choose > div {
  display: flex;
  width: 185px;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.choose > div label {
  cursor: pointer;
}
#generate {
  display: block;
  margin: 10px auto;
  width: 185px;
  padding: 10px;
  background-color: #009688;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#generate:hover {
  background-color: #00776b;
}
